[submodule "Build/meta-mistysom"]
	path = Build/meta-mistysom
	url = git@github.com:MistySOM/meta-mistysom.git
[submodule "Build/meta-mistylwb5p"]
	path = Build/meta-mistylwb5p
	url = git@github.com:MistySOM/meta-mistylwb5p.git
